.row
  %aside.medium-4.columns
    %section= render 'users/user_info'
    %section= render 'users/stats'
    %section= render 'microposts/micropost_form'
  .medium-8.columns
    %h3 Micropost Feed
    - if @microposts.any?
      %ul.microposts
        = render @microposts
      = will_paginate @microposts
