.row
  %aside.medium-4.columns
    %section= render 'shared/user_info'
    %section= render 'shared/stats'
    %section= render 'shared/micropost_form'
  .medium-8.columns
    %h3 Micropost Feed
    - if @microposts.any?
      %ul.microposts
        = render @microposts
      = will_paginate @microposts
