= provide(:title, 'Sign in')
%h1 Sign in
.row
  .col-md-6.offset3
    = form_for(:session, url: sessions_path) do |f|
      = f.label :email
      = f.text_field :email, placeholder: 'Email'
      = f.label :password
      = f. password_field :password, placeholder: 'Password'
      = f.button 'Sign in', :class => 'btn btn-lg btn-primary'
    %p
      New user? #{link_to 'Sign up now!', signup_path}
