%h2 New Activity - #{@from_user.username}
%p
  Dear #{@to_user.username},
%p
  Just thought you might like to know,
  #{@from_user.username} has #{@action_statement}.
%p
  = link_to 'Go check it out', path_to_notifiable(@notifiable)
%p
  .center{style: "text-align: center;"}
    = image_tag attachments['bullhorn.png'].url, width: '200'
%p
  = link_to "Change your notification settings", edit_notifications_url
