New Activity

Dear #{@to_user.username},

Just thought you might like to know,
#{@from_user.username} has #{@action_statement}.

= link_to 'Go check it out', path_to_notifiable(@notifiable)
= link_to "Change your notification settings", edit_notifications_url
