= form_with model: [ commentable, comment ], 
id: "form_#{dom_id(commentable)}_#{dom_id(comment)}" do |f|
  = render 'notifications/error_messages', object: f.object

  .field.mb-3
    = f.label :body, class: "form-label"
    = f.text_area :body, rows: '2', class: "form-control"
  .actions.mb-3
    = f.submit class: 'btn btn-primary'
