= form_with model: [commentable, comment], id: dom_id(comment, "form") do |f|
  = render 'notifications/error_messages', object: f.object

  .field.mb-3
    = f.label :body, class: "form-label"
    = f.text_area :body, rows: '2', class: "form-control"
  .actions.mb-3
    = f.submit class: 'btn btn-primary'
