- if @commentable.class.name == 'Micropost'
  var commentable = $("ul.add_new_comment_#{@commentable.id}");
  var submittedForm = $("form#new_comment_form_#{@commentable.id}");

- if @commentable.class.name == 'Comment'
  var commentable = $("ul.add_new_reply_#{@commentable.id}");
  var submittedForm = $("form#new_reply_form_#{@commentable.id}");

commentable.append("#{j render(@comment)}");

-# submitted form
submittedForm.find('textarea.comment_content').val('');
$("#new_reply_form_#{@commentable.id}").css('display', 'none');

-# dynamically add form
$("form#new_reply_form_#{@comment.id}").find('textarea.comment_content').val('');
$("li#comment_#{@comment.id}").showFormOnClick();
