= turbo_frame_tag @comment, class: "comments" do
  = link_to @commentable, class: "close-btn", title: 'Close' do
    %i.fa-solid.fa-xmark
  = render 'users/post_user', user: @comment.created_by
  %h3 Edit Comment
  = render 'form', commentable: @commentable, comment: @comment
  .timestamp
    Posted #{time_ago_in_words(@comment.created_at)} ago