= form_with model: direct do |f|
  = render 'notifications/error_messages', object: f.object
  .field.mb-3
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control"
  .field.mb-3
    .ui-widget
      .input-group
        %span.input-group-text
          %i.fa-solid.fa-magnifying-glass
        = text_field_tag :search, params[:search], id: 'search',
        class: 'form-control',
        data: { autocomplete_source: search_users_path }
  .actions
    = f.submit class: "btn btn-primary"
