= turbo_stream_from @direct
.callout
  = render @direct, from_show: true

.mb-3
  = link_to directs_path do
    %i.fa-solid.fa-hand-point-left
    Back

%h1 Messages
.message-box
  = turbo_frame_tag "messages" do
    = render @messages
  -# Infinate scroll comments with turbo.
  = render "infinate_scroll/load_more"

= render "messages/form", direct: @direct, message: @message
