= turbo_stream_from @direct
.callout
  = render @direct

.mb-3
  = link_to directs_path do
    %i.fa-solid.fa-hand-point-left
    Back

= render "messages/form", direct: @direct, message: @message

%h1 Messages
= turbo_frame_tag "messages" do
  = render @direct.messages
