- provide :title, 'News Letter - Article'
.row
  .col-12
    - if user_signed_in? && current_user.is_admin
      .row
        .col-12
          %ul.menu
            %li
              = link_to edit_news_letter_article_path(@news_letter, @article) do
                = fa_icon 'edit', text: 'Edit article'
            %li
              = link_to [@news_letter, @article],
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
              class: 'delete_link', title: 'Delete' do
                = fa_icon 'trash', text: 'Delete article'
.article
  .row
    .col-12
      .center
        %h1= @article.title
  .row
    - if @article.image.attached?
      .col-12.col-md-3
        .center
          = image_tag medium_image(@article.image), class: 'article'
    .col-12.col-md-9
      = simple_format(@article.content)
.row
  .col-12
    %ul.menu
      %li
        = link_to news_letter_path(@news_letter,
        anchor: "article_#{@article.id}") do
          = fa_icon 'hand-point-left', text: 'Back'
