.btn-group
  = button_tag class: "dropdown-toggle dropdown-toggle", 
  type: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false" do
    %i.fa-solid.fa-palette
    Theme
  %ul{class: "dropdown-menu dropdown-menu-end dropdown-menu-dark "}
    %li
      = link_to set_theme_path(theme: 'light'), data: { turbo: false },
      class: "dropdown-item #{return_active_for_current_theme(:light)}" do
        %i.fa-solid.fa-sun
        Light
    %li
      = link_to set_theme_path(theme: 'dark'), data: { turbo: false },
      class: "dropdown-item #{return_active_for_current_theme(:dark)}" do
        %i.fa-regular.fa-moon
        Dark
    %li
      = link_to set_theme_path, data: { turbo: false },
      class: "dropdown-item #{return_active_for_current_theme(:system)}" do
        %i.fa-solid.fa-clone
        System
