.avatar.mb-1
  = link_to user, data: { turbo: false } do
    - if user.avatar.attached?
      = image_tag thumb_image(user.avatar)
    - else
      = image_tag "default_avatar.png"
    = turbo_frame_tag "user_#{user.id}_status"
.avatar-info
  .name
    = link_to user, class: "black", data: { turbo: false } do
      %h3= user.username
  = render "users/profile_stats", user: user
  = render "relationships/form", user: user
  .occupation= user.profile.occupation if user.profile.try(:occupation) && @show_occupation
