.profile_info
  - if user.try(:full_name).present?
    .info
      %b Name:
      = user.full_name
  - if user.profile.try(:bio).present?
    .info
      %b Bio:
      = simple_format(user.profile.bio)
  - if user.profile.try(:graduated_in).present?
    .info
      %b 
        Class of
        = user.profile.graduated_in.strftime('%Y')
  - if user.profile.try(:workplace).present?
    .info
      %b Workplace:
      = user.profile.workplace
  - if user.profile.try(:position).present?
    .info
      %b Position:
      = user.profile.position
  - if user.profile.try(:birthday).present?
    .info
      %b Birthday:
      = user.profile.birthday.strftime('%B %d, %Y')
  - unless user.profile.try(:show_email) == false
    .info
      %b Email:
      = user.email
  - if user.websites.any?
    .info
      %b #{'Website'.pluralize(user.websites.count)}:
      = user.websites.list_links
