%li
  = link_to user do
    = avatar_for(user, 52)
    = truncate("#{user.name} - #{user.last_post || 'Nothing to show yet!'}" , length: 88)

  - if current_user.admin? && !current_user?(user)
    .delete_user= link_to 'Delete USER!', user, method: :delete, confirm: 'Are you sure?',
    class: 'red_text'

  .float-right= render 'follow_form', user: user
