%li
  .row
    %div{class: "medium-#{smaller_col_for_admin} columns"}
      = link_to user do
        = avatar_for(user, 52)
        = truncate("#{user.name} - #{user.last_post || 'Nothing to show yet!'}" , length: 88)

    .small-6.medium-2.columns
      .float-right= render 'follow_form', user: user

    - if current_user.admin? && !current_user?(user)
      .small-6.medium-2.columns
        .delete_user= link_to 'Delete USER!', user, method: :delete,
        data: { confirm: 'Are you sure? Have they really been so bad that you need to remove them completely?!?' },
        class: 'red_text'
