- provide :title, 'Roster'
= render 'users/search_box'
.row
  .col-12
    %h1 Explore Users
    %p
      = @objects.count
      users
= turbo_frame_tag "users", class: "row" do
  = render @users
-# Infinate scroll users with turbo.
= render "infinate_scroll/load_more"