- provide :title, 'My Profile'
.row
  .col-12.col-md-4
    .profile_head
      .links-end
        - if correct_user?(@user)
          = link_to edit_user_path(@user), 
          class: "btn btn-info btn-sm mb-2" do
            %i.fa-solid.fa-pen-to-square
            Edit Profile
          %br/
        = link_to media_user_path(@user), 
        class: "btn btn-secondary btn-sm" do
          %i.fa-solid.fa-images
          My Media
      = render 'users/avatar_info', user: @user
    = render 'users/profile_info', user: @user

  .col-12.col-md-8
    %h2 My Posts
    = turbo_frame_tag "posts" do
      = render @posts
    -# Infinate scroll posts with turbo.
    = render "infinate_scroll/load_more"
