- provide :title, 'My Profile'
.row
  .col-12.col-md-4
    .profile_head
      .links-end
        - if correct_user?(@user)
          = link_to edit_user_path(@user) do
            = fa_icon 'edit', text: 'Edit Profile'
          %br/
        = link_to photos_user_path(@user) do
          = fa_icon 'images', text: 'My Photos'
      = render 'users/avatar_info', user: @user
    = render 'users/profile_info', user: @user

  .col-12.col-md-8
    %h2 My Posts
    %hr/
    .posts
      = render @posts
    = paginate @posts, window: 2
