- provide(:title, @title)
.row
  %aside.medium-4.columns
    %section
      = avatar_for(@user, 50)
      %h1= @user.name
      %span= link_to 'view my profile', @user
      %span
        %b Microposts:
        = @user.microposts.count
    %section
      = render 'users/stats'
      - unless @users.empty?
        .user_avatars
          - @users.each do |user|
            = link_to avatar_for(user, 30), user
  .medium-8.columns
    %h3= @title
    - if @users.any?
      %ul.users
        = render @users
      = will_paginate @users
