- provide :title, 'Admins'
= render 'users/search_box'
.row
  .col-12.mb-3
    = link_to bug_reports_path, class: "btn btn-outline-primary" do
      = pluralize(BugReport.by_status_open.count, 'Open bug report')
.row
  .col-12
    %h2= pluralize(@users.by_admins.count, 'Admin')
    = render 'users/badge', users: @users.by_admins
    %hr/
    %h2= pluralize(@users.by_other_users.count, 'Other user')
    = render 'users/badge', users: @users.by_other_users
