- provide :title, 'Edit History'

.row
  .col-12.col-md-8
    %h1 Edit History
    = render 'form'
    - if @history.images.attached?
      %h4 Currently uploaded
      .row.mb-3
        - @history.images.uniq.each do |image|
          .col-12.col-md-6.col-lg-4
            = image_tag medium_image(image), class: 'thumbnail size-250 p-3'
            - if image.persisted?
              = link_to remove_image_history_path(image) do
                = fa_icon 'trash', class: 'red'
            %span.pad_left
.row
  .col-8
    .links.mb-3
      = link_to history_path do
        = fa_icon 'hand-point-left', text: 'Back'
