.callout
  .event{id: "event_#{event.id}"}
    - if correct_user?(event.user)
      .row
        .col-12
          .links-end
            = link_to edit_event_path(event), 
            data: { turbo: false }, title: 'Edit' do
              %i.fa-solid.fa-pen-to-square
              Edit
            = link_to event,
            data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
            class: 'delete-link', title: 'Delete' do
              %i.fa-solid.fa-trash
    - if event.image.attached?
      .row
        .col-12
          .center.mb-3
            = link_to event, data: { turbo: false } do
              = image_tag medium_image(event.image), class: "img-thumbnail"
    .row
      .col-12.col-md-4
        .start_date.mb-3= event.start_date.strftime('%A, %b %-d, %Y')
        = render 'users/post_user', user: event.user
      .col-12.col-md-8
        = link_to event, data: { turbo: false } do
          Invites you to -
          %span.event_name #{event.name}
          %p
            = event.start_date.in_time_zone(event.timezone).strftime('%_m/%d/%Y @ %l:%M %p')
            \-
            = event.end_date.in_time_zone(event.timezone).strftime('%_m/%d/%Y @ %l:%M %p')
          - if event.address
            %p
              Location -
              = event.address.full_address
    = link_to event, data: { turbo: false } do
      .row
        .col-12
          .callout-thin
            = simple_format(event.description)
    .row
      .col-12
        Your response is:
        = turbo_frame_tag dom_id(event, "response") do
          = render 'events/response', event: event
          
    - unless @hidden
      .row
        .col-12
          .d-flex.justify-content-md-center
            = link_to event_path(event, anchor: "responders"), 
            class: "mt-3", data: { turbo: false } do
              = render "events/stats", event: event
          .post-stats.d-flex.justify-content-between.align-items-center
            = render "comments/count", commentable: event
            -# = render "likes/count", likeable: event
            -# = render "likes/form", likeable: event
