.callout
  .event
    - if correct_user?(event.user)
      .row
        .col-12
          .links-end
            = link_to edit_event_path(event), title: 'Edit' do
              = fa_icon 'edit', text: 'Edit'
            = link_to event,
            data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
            class: 'delete-link', title: 'Delete' do
              = fa_icon 'trash'
    - if event.image.attached?
      .row
        .col-12
          .center.mb-3
            = link_to event do
              = image_tag medium_image(event.image), class: "img-thumbnail"
    .row
      .col-12.col-md-4
        .start_date.mb-3= event.start_date.strftime('%A, %b %-d, %Y')
        = render 'users/post_user', user: event.user
      .col-12.col-md-8
        = link_to event do
          Invites you to -
          %span.event_name #{event.name}
          %p
            = event.start_date.in_time_zone(event.timezone).strftime('%_m/%d/%Y @ %l:%M %p')
            \-
            = event.end_date.in_time_zone(event.timezone).strftime('%_m/%d/%Y @ %l:%M %p')
          - if event.address
            %p
              Location -
              = event.address.full_address
    = link_to event do
      .row
        .col-12
          .callout-thin
            = simple_format(event.description)
    .row
      .col-12
        Your event response is:
        = render 'events/response', event: event
          
    - unless controller_name == 'events' && action_name == 'show'
      .row
        .col-12
          .d-flex.justify-content-md-center
            = link_to event_path(event, anchor: "responders"), class: "mt-3" do
              = render "events/stats", event: event
          = link_to event_path(event, anchor: "new_comment") do
            = comment_count(event)