= form_with model: @company, local: true do |f|
  = render 'notifications/error_messages', object: f.object

  .row
    .col-12.col-lg-6
      .field
        = f.label :logo
        = f.hidden_field :logo, value: f.object.logo.signed_id if f.object.logo.attached?
        = f.file_field :logo, direct_upload: true
    .col-12.col-lg-6
      - if f.object.logo.attached?
        = image_tag medium_image(f.object.logo)
        = link_to 'Remove logo', remove_logo_company_path(f.object) if f.object.persisted?
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :comp_industry
    = f.text_field :comp_industry, id: 'search',
    data: { autocomplete_source: search_industries_companies_path }
  = render 'address/fields', f: f,
  location_examples: 'Examples - Business, Office, Shop'
  .actions
    = f.submit class: 'btn btn-primary'
