- provide :title, 'Company'

.row.center-content
  .col-12.col-md-8
    .float-end
      %ul.menu
        %li
          = link_to edit_company_path(@company), title: 'Edit company' do
            = fa_icon 'edit', text: 'Edit company'
        %li
          = link_to @company,
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
          class: 'delete_link', title: 'Destroy company' do
            = fa_icon 'trash'
    .company_logo
      %h1
        - if @company.logo.attached?
          = image_tag medium_image(@company.logo)
        = @company.name
    %b Industry:
    = @company.industry.name
    - if @company.address
      %br/
      %b Address:
      = @company.address.full_address
    %hr/
    = link_to 'New Job listing', new_job_listing_path, class: 'btn btn-primary' unless @company.nil?
    or
    = link_to 'Back', companies_path, title: 'Back'

    %h3 Your listings
    - @company.job_listings.each do |job_listing|
      .callout
        .row
          .col-12
            .float-end
              %ul.menu
                %li
                  = link_to edit_job_listing_path(job_listing),
                  title: 'Edit job listing' do
                    = fa_icon 'edit', text: 'Edit or Relist'
                %li
                  = link_to job_listing,
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                  class: 'delete_link', title: 'Destroy job listing' do
                    = fa_icon 'trash'
            %b Currently listed:
            = true_false(job_listing.currently_listed?)
            - if job_listing.currently_listed?
              %br/
              %b Expires in:
              = expires_in(job_listing)
        = link_to job_listing do
          = render 'job_listings/header', job_listing: job_listing
