= form_for @job_listing do |f|
  = render 'notifications/error_messages', object: f.object
  .row
    .col-12
      .field
        = f.label :is_listed do
          = f.check_box :is_listed
          List Job Listing (uncheck this if you want to remove your
          listing before the experation date)
  .row
    .col-12
      .field
        = f.label :title
        = f.text_field :title
  .row
    .col-12.col-md-6
      .field
        = f.label :dur_interval
        = f.number_field :dur_interval
    .col-12.col-md-6
      .field
        = f.label :dur_cal_type
        = f.select :dur_cal_type,
        options_for_select(JobListing.select_duration_options,
        selected: f.object.dur_cal_type), { prompt: '- Select One -' },
        { class: 'full_width' }
  .row
    .col-12.col-md-6
      .field
        = f.label :classification
        = f.select :classification,
        options_for_select(JobListing.select_classification_options,
          selected: f.object.classification), { prompt: '- Select One -' },
          { class: 'full_width' }
    .col-12.col-md-6
      .field
        = f.label :status
        = f.select :status,
        options_for_select(JobListing.select_status_options,
          selected: f.object.status), { prompt: '- Select One -' },
          { class: 'full_width' }
  .row
    .col-12.col-md-4
      .field
        = f.label :comp_min
        .input-group
          %span.input-group-label $
          = f.number_field :comp_min, class: 'input-group-field', step: 0.01
    .col-12.col-md-4
      .field
        = f.label :comp_max
        .input-group
          %span.input-group-label $
          = f.number_field :comp_max, class: 'input-group-field', step: 0.01
    .col-12.col-md-4
      .field
        = f.label :comp_per
        = f.select :comp_per,
        options_for_select(JobListing.select_comp_per_options,
          selected: f.object.comp_per),
          { prompt: '- Select One -', include_blank: true },
          { class: 'full_width' }
  .field
    = f.label :description
    = f.text_area :description, rows: '3'
  .field
    = f.label :apply_email
    = f.email_field :apply_email
  .actions
    = f.submit class: 'btn btn-primary'
