= render 'job_listings/header', job_listing: job_listing
%br/
%b Description:
.callout
  = simple_format(job_listing.description)

%p
  %b Job type:
  #{selected_status(job_listing.status)},
  #{selected_classification(job_listing.classification)}
- if job_listing.salary
  %p
    %b Salary:
    = job_listing.salary
%p
  %b Apply by email:
  = mail_to job_listing.apply_email, job_listing.apply_email,
  subject: "#{job_listing.title} applicant #{current_user.full_name}"
%p
  %b Industry:
  = job_listing.company.industry.name
