- provide :title, 'Past President'

.row
  .col-12
    %p
      #{@past_president.term_order.ordinalize} President of the
      Sigma Phi Lamda Fraternity
.row
  .col-12.col-md-6
    = render @past_president
  .col-12.col-md-6
    %p
      %b Bio:
      = simple_format(@past_president.bio)
.row
  .col-12
    %ul.menu
      - if current_user.is_admin
        %li
          = link_to edit_past_president_path(@past_president) do
            = fa_icon 'edit', text: 'Edit'
        %li
          = link_to @past_president,
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
          class: 'delete_link', title: 'Delete' do
            = fa_icon 'trash'
      %li
        = link_to history_path(anchor: 'past_presidents') do
          = fa_icon 'hand-point-left', text: 'Back'
