= form_for [@user, @photo], html: { multipart: true } do |f|
  = render 'shared/error_messages', object: f.object

  .row
    .medium-6.columns
      - unless f.object.image?
        = f.label :image, 'Select a photo for upload'
        = f.hidden_field :image, class: 'js-signed-upload-value'
        = f.file_field :image, class: 'js-signed-upload', data: {presign_url: presign_upload_user_photos_path(@user)}
        -#
          %p.js-signed-upload-status
            - if f.object.image.present?
              = link_to 'File attached', user_photo_path(@user, @photo)
        = f.hidden_field :image_cache
      = f.label :caption
      = f.text_field :caption

      = f.button 'Save', class: 'button large'

  = image_tag @photo.image.large if @photo.image?
