- provide(:title, 'Your photos')

%h1 Your photos

.row
  .small-12.columns
    = link_to 'Upload photos', new_user_photo_path(@user), class: 'button'

.row
  - @photos.by_newest.each do |photo|
    .small-6.medium-4.large-3.columns.end
      .callout
        .photo_tile
          .photo_content
            .float-right= link_to 'delete', [@user, photo], method: :delete,
            data: { confirm: 'Are you sure? You ara about to delete your photo.' },
            title: 'Delete your photo'
            %p
              = link_to user_photo_path(@user, photo) do
                = image_tag photo.image.thumb
            %p
              = link_to edit_user_photo_path(@user, photo), title: 'Edit your caption' do
                %b Caption:
                = photo.caption
          .photo_avatar_form
            %p
              - unless current_user.is_avatar(photo)
                = render 'update_avatar_form', user: @user, photo: photo
              - else
                .callout.small.success.center Your profile photo

