.row
  .small-12.columns
    %p
      = link_to 'Edit', edit_user_photo_path(@user, @photo)
      \|
      = link_to 'Back', user_photos_path(@user)
    %p
      %b Caption:
      = @photo.caption
    %p
      = link_to full_size_user_photo_path(@user, @photo) do
        = image_tag @photo.image.large
