.row
  .small-12.columns
    %p
      = link_to 'Edit', edit_photo_path(@photo)
      \|
      = link_to 'Back', album_path
    %p
      %b Caption:
      = @photo.caption
    %p
      = link_to full_size_photo_user_path(@photo.user, @photo) do
        = image_tag @photo.image.large
