= formated_text
- if attachments.any?
  .carousel.slide{ id: "image-carousel_#{post_reposting_id(post, reposting)}", 
  data: { bs_interval: "false", bs_touch: "false" }}
    / Carousel indicators
    - if attachments.size > 1
      .carousel-indicators
        - attachments.each_with_index do |attachment, index|
          %button{ type: :button, 
          data: { bs_target: "#image-carousel_#{post_reposting_id(post, reposting)}", 
          bs_slide_to: index }, class: (index == 0 ? 'active' : nil), 
          'aria-current' => (index == 0 ? 'true' : nil), 
          'aria-label' => "Slide #{index + 1}" }

    / Carousel items (slides)
    .carousel-inner
      - attachments.each_with_index do |attachment, index|
        %figure{class: "attachment attachment--#{attachment.audio? ? 'file' : 'preview'} attachment--#{attachment.filename.extension}"}

          .center-items.carousel-item{ class: (index == 0 ? 'active' : nil) }
            - if attachment.video?
              = video_tag rails_blob_url(attachment), controls: true, preload: "metadata", 
              class: "img-thumbnail", data: { action: "play->media#play", media_target: "player" }
            - elsif attachment.audio?
              = audio_tag rails_blob_url(attachment), controls: true, preload: "metadata",
              data: { action: "play->media#play", media_target: "player" }
            - elsif attachment.image?
              .photo= large_or_link_image(post, attachment, fullscreen ||= nil, reposting)
            .carousel-caption
              %figcaption.attachment__caption
                - if caption = attachment.try(:caption)
                  %span.attachment__text= caption
                - else
                  %span.attachment__name= attachment.filename
                  %span.attachment__size= number_to_human_size attachment.byte_size
                %span •
                = link_to "Download", rails_blob_path(attachment, disposition: "attachment")

    / Carousel controls (previous and next buttons)
    - if attachments.size > 1
      %button.carousel-control-prev{ type: :button, 
      data: { bs_target: "#image-carousel_#{post_reposting_id(post, reposting)}", 
      bs_slide: :prev } }
        %span.carousel-control-prev-icon{ 'aria-hidden' => 'true' }
        %span.visually-hidden Previous
      %button.carousel-control-next{ type: :button, 
      data: { bs_target: "#image-carousel_#{post_reposting_id(post, reposting)}", 
      bs_slide: :next } }
        %span.carousel-control-next-icon{ 'aria-hidden' => 'true' }
        %span.visually-hidden Next
