- unless post.is_repost? || quoted_post_form
  .d-flex.justify-content-between.align-items-center
    - unless @hidden
      = render "comments/count", commentable: post
    - unless post.reposting && post.is_quoted_repost?
      .reposts
        = render "reposts/form", post: post
        = render "reposts/count", post: post
    .likes
      = render "likes/form", likeable: post
      = render "likes/count", likeable: post
