= turbo_stream.prepend "posts" do
  = render "posts/post", post: @post

- if @reposting
  = turbo_stream.replace_all ".#{dom_id(@reposting, "repost_form")}" do
    = render "reposts/form", post: @reposting

  = turbo_stream.replace_all ".#{dom_id(@reposting, "who_reposted")}" do
    = render "reposts/count", post: @reposting
    
= turbo_stream.update "new_post" do
  = render "posts/new_link"
