= form_for(@micropost) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :mentioned, 'Bullhorn@'
    = f.text_field :mentioned, class: 'autocomplete_text_box', placeholder: 'whoever you want',
    data: { autocomplete_source: search_users_path }
    = f.text_area :content, placeholder: 'Compose new micropost...',
    maxlength: 1000, data:{ maximum_characters: 1000 }
    %span.countdown
    = f.fields_for :photo, @micropost.build_photo do |f_photo|
      = f_photo.label :image, 'Attach image'
      = f_photo.hidden_field :image, class: 'js-signed-upload-value'
      = f_photo.file_field :image, class: 'js-signed-upload', data: {presign_url: presign_upload_user_photos_path(@user)}
      -#
        %p.js-signed-upload-status
          - if f_photo.object.image.present?
            = link_to 'File attached', user_photo_path(@user, f_photo.object)
      = f_photo.hidden_field :image_cache
  = f.button 'Post', class: 'button'
