%li{id: "#{micropost.id}"}
  = link_to avatar_for(micropost.user, 50), micropost.user
  %span.user
    = link_to micropost.user.name, micropost.user
  - if micropost.mentioned_users.any?
    %p.bullhorn
      %small
        Bullhorn@
        - micropost.mentioned_users.each do |user|
          %span= link_to user.name, user
          %span>= ', ' unless user == micropost.mentioned_users.last
  %span.content
    = wrap(micropost.content)
    - if micropost.photo
      %p
        = link_to full_size_user_photo_path(micropost.user, micropost.photo) do
          = image_tag(micropost.photo.image.small.url, class: 'feed_photo')
  %span.timestamp
    Posted #{time_ago_in_words(micropost.created_at)} ago.
  - if current_user?(micropost.user)
    = link_to "delete", micropost, method: :delete,
    data: { confirm: "Are you sure you want to delete - (#{truncate(micropost.content)})?" }

  .comments_box
    = link_to count_comments(micropost), micropost_path(micropost, profile_feed: @profile_feed)
    - if @show_comments
      = render 'comments/comments', micropost: micropost
