%li{id: "#{micropost.id}"}
  - unless @profile_feed
    = link_to avatar_for(micropost.user, 50), micropost.user
    %span.user
      = link_to micropost.user.name, micropost.user
  %span.content
    = wrap(micropost.content)
    - if micropost.photo
      %p
        = link_to full_size_user_photo_path(micropost.user, micropost.photo) do
          = image_tag(micropost.photo.image.small, class: 'feed_photo')
  %span.timestamp
    Posted #{time_ago_in_words(micropost.created_at)} ago.
  - if current_user?(micropost.user)
    = link_to "delete", micropost, method: :delete,
    data: { confirm: "Are you sure you want to delete - (#{truncate(micropost.content)})?" }

  = render 'comments/comments', micropost: micropost
