%h1 Listing Bug Reports
.links.mb-3
  = link_to bug_reports_path(status: :new) do
    = @bug_reports.by_status("new").count
    New
  = link_to bug_reports_path(status: :checking) do
    = @bug_reports.by_status("checking").count
    Checking
  = link_to bug_reports_path(status: :closed) do
    = @bug_reports.by_status("closed").count
    Closed

= render @bug_reports.by_status(@status)

= link_to 'New Bug report', new_bug_report_path
