.callout
  .row
    - if user_signed_in? && current_user.is_admin
      .col-12.col-lg-4.order-1.order-lg-2
        %ul.menu.float-end
          %li
            = render "news_letters/publish_form", news_letter: news_letter
    .col-12.col-lg-8.order-2.order-lg-1
      = link_to news_letter, class: 'black_text_link' do
        .news_letters
          Issue
          = news_letter.issue_number
          \|
          = news_letter.issued_on
          %p
            Headlines -
            = news_letter.articles_titles
