- provide :title, 'Edit Newsletter'
.row
  .col-12
    %h1 Editing Newsletter

    = render 'form'

.row
  .col-12
    %ul.menu
      %li
        = link_to @news_letter do
          = fa_icon 'newspaper', text: 'News Letter', type: :regular
      %li
        = link_to news_letters_path do
          = fa_icon 'hand-point-left', text: 'Back'
