- provide :title, 'Newsletter'
.news_letter
  .row
    .col-12.col-md-6
      %ul.menu
        %li
          = link_to news_letters_path do
            = fa_icon 'newspaper', text: 'All Newsletters'
    - if user_signed_in? && current_user.is_admin?
      .col-12.col-md-6
        .float-right
          = render "news_letters/publish_form", news_letter: @news_letter
  .row
    .col-12
      .header
        .row
          .col-12.col-md-10
            = image_tag 'newsletter_header.svg'
      %p
        %ul.menu.simple
          %li
            Issue:
            = @news_letter.issue_number
          %li
            Date:
            = @news_letter.issued_on.strftime('%B %-d, %Y')
          - if user_signed_in? && current_user.is_admin?
            %li
              = link_to edit_news_letter_path(@news_letter) do
                = fa_icon 'edit', text: 'Edit Issue Info'
            %li
              = link_to @news_letter,
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete_link' do
                = fa_icon 'trash', text: 'Destroy'
  .row
    .col-12
      %h3#articles Articles
      - if user_signed_in? && current_user.is_admin?
        = link_to new_news_letter_article_path(@news_letter), class: 'btn btn-primary' do
          = fa_icon 'paperclip', text: 'Add new article'
  .row
    = render @news_letter.articles, news_letter: @news_letter

  - if @future_events.any?
    .row
      .col-12
        %h3#upcoming_events Upcoming events
    .row
      - @future_events.each do |event|
        .col-12.column-block
          .callout
            .event
              .row
                .col-12
                  - if event.image.attached?
                    .center= image_tag medium_image(event.image)
                  .start_date= event.start_date.strftime('%A, %b %-d, %Y')
                  = render 'users/post_user', user: event.user
              .row
                .col-12
                  Invites you to -
                  %span.event_name= link_to event.name, event
                  %p
                    = event.start_date.in_time_zone(event.timezone).strftime('%_m/%d/%Y @ %l:%M %p')
                    \-
                    = event.end_date.in_time_zone(event.timezone).strftime('%_m/%d/%Y @ %l:%M %p')
                  - if event.address
                    %p
                      Location -
                      = event.address.full_address
              .row
                .col-12
                  .callout
                    = simple_format(event.description)

  - if @job_listings.any?
    .row
      .col-12
        %h3#job_listing Job Listings
    .row
      - @job_listings.each do |job_listing|
        .col-12.column-block
          = link_to job_listing do
            .callout
              .job_listing
                %h3
                  = job_listing.title
                  %small at
                %h5
                  - if job_listing.company.logo.attached?
                    = image_tag medium_image(job_listing.company.logo)
                  = job_listing.company.name
              - if job_listing.company.address
                .company_address= job_listing.company.address.city_state_zip
