.row
  .col-12.col-md-5.col-lg-4
    .profile_head.mb-3
      .links-end
        - unless @user.try(:is_admin) && @users && @users.by_admin.count < 2
          = link_to @user,
          data: { turbo_method: :delete, turbo_confirm: "Are you sure? This will PERMANENTLY delete the user and all the user's related data." },
          class: 'delete-link', title: 'Delete user permanently' do
            = fa_icon 'trash', text: 'Delete User'
          %br/
        = link_to @user, class: "mb-1" do
          = fa_icon 'user', text: 'view my profile'
      = render 'users/avatar_info', user: @user
    .callout-thin
      = render 'posts/form', post: @post
  .col-12.col-md-7.col-lg-8
    %h2 Community Feed
    #posts
      = render @posts
    -# Infinate scroll posts with turbo.
    - if @next_page
      = turbo_frame_tag "load_more", 
      src: root_path(page: @next_page, format: :turbo_stream), loading: :lazy
