.row
  .col-12.col-md-5.col-lg-4
    .profile_head.mb-3
      .links-end
        = link_to @user, class: "btn btn-info btn-sm mb-1" do
          %i.fa-solid.fa-user
          view my profile
      = render 'users/avatar_info', user: @user
  .col-12.col-md-7.col-lg-8
    %h2 Community Feed
    = turbo_frame_tag "posts" do
      = render @posts
    -# Infinate scroll posts with turbo.
    = render "infinate_scroll/load_more"
