.row
  .col-12.col-md-5.col-lg-4
    .profile_head.mb-3
      .links-end.d-grid.gap-2
        = link_to @user, class: "btn btn-info btn-sm mb-1" do
          %i.fa-solid.fa-user
          View My Profile
      = render 'users/avatar_info', user: @user
  .col-12.col-md-7.col-lg-8
    - feed_type = params[:feed_type] || 'community'
    .mb-3
      .btn-group(role="group")
        %a.btn.btn-outline-primary{href: root_path(feed_type: 'community'), 
        class: feed_type == 'community' ? 'active' : '', data: { turbo_frame: '_top' }}
          %i.fa-solid.fa-users
          Community Feed
        %a.btn.btn-outline-primary{href: root_path(feed_type: 'discovery'), 
        class: feed_type == 'discovery' ? 'active' : '', data: { turbo_frame: '_top' }}
          %i.fa-solid.fa-compass
          For You
    - if @posts.empty?
      .callout
        - if feed_type == 'community'
          %p Start following users...
          = link_to users_path, title: 'Explore Users', class: "btn btn-primary btn-lg" do
            %i.fa-solid.fa-users
            Explore Users
        - else
          %p No new posts available. Try following more users!
          = link_to users_path, title: 'Explore Users', class: "btn btn-primary btn-lg" do
            %i.fa-solid.fa-users
            Explore Users
    = turbo_frame_tag "posts", data: { controller: "media" } do
      = render @posts
    -# Infinite scroll posts with turbo.
    = render "infinite_scroll/load_more"

= turbo_frame_tag "new_post" do
  = render "posts/new_link"
