= f.fields_for :profile do |profile_f|
  .row
    .col-12
      .field.mb-3
        = profile_f.label :bio, "Bio (HTML safe)", class: "form-label"
        = profile_f.text_area :bio, rows: 3, class: "form-control"
    .col-12.col-lg-6
      .field.mb-3
        = profile_f.label :workplace, class: "form-label"
        = profile_f.text_field :workplace, class: "form-control"
    .col-12.col-lg-6
      .field.mb-3
        = profile_f.label :position, class: "form-label"
        = profile_f.text_field :position, class: "form-control"
    .col-12.col-md-8
      .field.mb-3
        = profile_f.label :birthday, class: "form-label"
        .date_select
          = profile_f.date_select :birthday, { start_year: (Date.current - 90.years).year, 
          prompt: true }
    .col-12.col-md-4
      .field.mb-3
        = profile_f.label :graduated_in, class: "form-label"
        .date_select
          = profile_f.date_select :graduated_in, { discard_day: true, 
          discard_month: true, start_year: (Date.current - 72.years).year, 
          prompt: true }
    .col-12
      .field.mb-3.form-check
        = profile_f.check_box :show_email, class: "form-check-input"
        = profile_f.label :show_email, 'Display your email', class: "form-check-label"
