.top-bar
  .row
    .small-12.columns
      .top-bar-title
        %span{data: {hide_for: 'medium', responsive_toggle: 'responsive-menu'}}
          %span.menu-icon{data: {toggle: true}}
        .title-bar-title.bizbooks_logo_topbar
          = link_to '@you', root_path, id: 'logo'
      #responsive-menu
        .top-bar-right
          %ul.menu.mainmenu.vertical.medium-horizontal{data: {responsive_menu: 'accordion medium-dropdown'}}
            %li= link_to 'Home', root_path
            - if signed_in?
              %li= link_to 'Profile', current_user
              %li= link_to 'Users', users_path
              / Account dropdown
              %li
                = link_to 'Account', '#', remote: true
                %ul.menu.vertical
                  %li= link_to 'Settings', edit_user_path(current_user)
                  %li= link_to 'Sign out', signout_path, method: :delete
            - else
              %li= link_to 'Sign in', signin_path
            %li= link_to 'Help', help_path
