= turbo_stream_from ["notifications_channel", current_user]
.sub_top_bar.sticky-top
  .d-flex.justify-content-between.justify-content-lg-start
    = link_to root_path, title: 'Home', class: "btn btn-link" do
      %i.fa-solid.fa-house
    = link_to notifications_path, title: 'Notifications', class: "btn btn-link" do
      %i.fa-solid.fa-bell
      = render "notifications/count", user: current_user
    = link_to events_path, title: 'Events', class: "btn btn-link" do
      %i.fa-regular.fa-calendar
      - if current_user.relevant_events.in_the_future.any?
        %span.count= current_user.relevant_events.in_the_future.count
    = turbo_frame_tag "new_post" do
      = render "posts/new_link"
      