%nav.navbar.navbar-expand-lg
  .container-fluid
    -# Left side navbar.
    = link_to root_path, class: "topbar-logo" do
      %span.inline 
        %h1 BullhornXL
      %span.inline
        = render inline: Rails.root.join('app/assets/images/bullhorn.svg').read

    %button.navbar-toggler.ms-auto{aria: {
    controls: "navbarNavDropdown",
    expanded: "false", label: "Toggle navigation" },
    data: { bs_target: "#navbarNavDropdown",
    bs_toggle: "collapse" },
    type: "button"}
      %span.toggler-icon
        %i.fa-solid.fa-bars.fa-xl

    #navbarNavDropdown.collapse.navbar-collapse
      -# Right side navbar.
      %ul.navbar-nav.nav-items-right
        - if user_signed_in?
          %li.nav-item
            = link_to current_user, title: 'User Profile', class: "nav-link" do
              %i.fa-solid.fa-user
              Profile
          %li.nav-item
            = link_to edit_user_registration_path, title: 'User Settings', class: "nav-link" do
              %i.fa-solid.fa-gear
              Settings
          %li.nav-item
            = link_to users_path, title: 'Explore Users', class: "nav-link" do
              %i.fa-solid.fa-users
              Explore Users
          - if current_user.is_admin
            %li.nav-item
              = link_to site_admins_users_path, title: 'Admin Controls', class: "nav-link" do
                %i.fa-solid.fa-user-tie
                Admins
          %li.nav-item
            .dropdown.with-button.nav-link
              = render "theme/update"
          %li.nav-item
            .dropdown.with-button.nav-link
              = button_to destroy_user_session_path, 
              method: :delete, form: {  data: { turbo: :false } },
              title: 'Sign out' do
                %i.fa-solid.fa-sign-out-alt
                sign out
        - else
          %li.nav-item
            = link_to user_session_path, title: 'Log in', class: "nav-link" do
              %i.fa-solid.fa-sign-in-alt
              Log in
          %li.nav-item
            = link_to new_user_registration_path, title: 'Sign up', class: "nav-link" do
              %i.fa-solid.fa-user-plus
              Sign up

    / Install PWA button (hidden by default, shown when installable on mobile only)
    .d-flex.justify-content-center.align-items-center.w-100.d-lg-none.py-2
      = link_to '#', id: "pwa-install-button", class: "text-decoration-none", style: "display: none;" do
        %i.fas.fa-download.me-2
        Install App

= render 'layouts/sub_top_bar' if user_signed_in?
