!!!
%html{lang: "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
    = favicon_link_tag "bullhorn.png"
    %title= content_for?(:title) ? "BullhornXL | #{yield(:title)}" : "BullhornXL"

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    
  = turbo_stream_from "online_users", channel: OnlineChannel
  = turbo_stream_from ["notifications_channel", current_user]
  %body{class: "#{cookies[:theme]}"}
    #wrap
      = render 'layouts/top_bar'

      #main
        = render 'notifications/flash_messages'
        = yield

    = render 'layouts/footer'
